<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <main class="grid-admin">
      <div class="content-admin">
        <%- include ('components/menuAdmin') %>
        <div class="admin-profile">
          <%- include('components/headerAdmin') %>
        </div>

        <div class="content-display">
          <div class="content-msg">
            <% if (msgSuccess) { %>
            <div class="msgSuccess">
              <%= msgSuccess %> <a href="/dashboard">X</a>
            </div>
            <% } %>
          </div>
          <h1>dashboard</h1>
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              exercitationem suscipit, voluptates quo inventore temporibus
              tempore, neque saepe obcaecati ex vel illum explicabo voluptatum
              ad, aliquid facilis! Ullam, aspernatur dicta? Quam quasi mollitia
              fugit perspiciatis odit voluptatem maxime ut, magnam sed doloribus
              ab dolores voluptatibus. Iste dolorum, similique ipsum unde
              temporibus libero, nulla eum obcaecati asperiores voluptatum
              voluptas amet numquam? Nihil, eaque quos a aperiam provident
              explicabo fugit assumenda ducimus vero, facilis cupiditate non
              impedit maiores porro, suscipit neque velit! Molestiae laboriosam
              dolor expedita debitis consequatur possimus odit aspernatur ipsam!
              Ex aspernatur praesentium quis unde eligendi veritatis, esse enim
              fugiat molestias voluptatum, voluptate consequatur commodi minima.
              Repellendus facilis fuga voluptas earum voluptate sit molestiae
              deserunt perferendis expedita. Voluptate, exercitationem
              reiciendis! Itaque, ipsam! Animi nesciunt saepe, dignissimos sequi
              aspernatur recusandae, labore repellendus, numquam aperiam eum
              quisquam? Aliquam nesciunt, accusantium sapiente quaerat maxime
              cum rem magnam, culpa ipsa aperiam sint minus dolores. Dicta
              asperiores ab necessitatibus aliquid minima, neque quidem
              laudantium doloremque autem culpa labore, odio aliquam vero
              quibusdam magni error. Ipsam quasi veniam voluptates. Autem fugiat
              molestias dicta, nisi aut repellat. Sit repellendus sapiente
              numquam nihil sequi temporibus eum nemo aperiam obcaecati iure
              vitae, modi eligendi placeat dolorum omnis nam fugiat ducimus
              soluta. Repellat commodi laudantium ab natus! Quod, natus
              asperiores! Neque dignissimos nemo blanditiis ducimus accusantium
              pariatur expedita vel rem veniam delectus, odio eligendi dolores
              nam error sint cupiditate quod rerum mollitia, iste incidunt?
              Omnis a velit explicabo quam alias? Aut vitae, veritatis illum
              maiores laudantium nihil aliquid architecto eos quisquam rerum nam
              voluptates possimus? Ipsa quasi eligendi saepe aspernatur fugit?
              Saepe itaque in, corrupti deleniti molestiae beatae fuga neque.
              Laborum, ea! Blanditiis praesentium hic quos eligendi explicabo,
              quod neque excepturi necessitatibus fugiat quaerat! Magni
              deserunt, alias omnis autem, nisi porro ea a ullam vero pariatur
              cupiditate sit, facere in? Earum aspernatur officiis, pariatur
              consequuntur quae vitae reiciendis, laborum eaque unde ad
              excepturi aut odit nisi nobis modi. Commodi nemo quis delectus
              ratione cupiditate mollitia, velit pariatur et ea quae! Quas
              dolorem facere repellendus ut quam quidem alias animi,
              perspiciatis, sed consequuntur in. Fugiat amet sed accusantium
              sequi, alias quisquam veritatis quo dolore itaque asperiores iste
              cumque hic voluptates ullam! Beatae voluptates, a accusamus quam
              dolorem, sequi enim error possimus quasi provident rerum nam
              fugiat itaque! Omnis dolore, nihil aliquam qui eligendi obcaecati,
              expedita veritatis repellendus ipsam assumenda quisquam animi!
              Dolores cumque pariatur nostrum illo deleniti numquam adipisci
              aspernatur saepe voluptatibus! Consectetur ad amet porro, libero
              in, doloribus perspiciatis expedita repellendus iste quia facere
              odio blanditiis voluptates nemo similique sit! Aspernatur a
              corrupti natus, accusamus nihil, repudiandae dicta quos ea tempora
              consequuntur, voluptate voluptas minima? Sed placeat eaque magni
              in quaerat minima eius aliquam recusandae officiis. Sunt alias in
              enim. Ullam quibusdam adipisci mollitia expedita perferendis
              officiis incidunt amet culpa provident facilis earum animi
              laboriosam, iure reprehenderit doloremque voluptate dolores. Dicta
              quasi quae sint quod reprehenderit beatae quo ipsam. Ipsam.
              Recusandae, harum quae excepturi voluptates rerum dignissimos
              blanditiis nulla vero optio voluptate nihil error nobis eos
              dolorem ipsa tempore quaerat omnis a minima, laboriosam commodi
              hic. Amet inventore neque eveniet. Sequi, consectetur tempore
              numquam assumenda iste natus laboriosam veniam. Maiores in,
              numquam sed placeat eius accusantium quos vero laboriosam, dicta
              assumenda provident. Quas numquam sequi et nobis est sint
              molestias? Est quibusdam cumque quam at corrupti doloribus, quasi
              id molestiae? Porro fugit nemo repellendus architecto quos vitae
              atque voluptatibus quibusdam velit provident culpa alias, corrupti
              tenetur, pariatur eligendi unde dolor. Alias unde adipisci eos
              totam quod, recusandae cumque quis minima. Obcaecati ullam
              reiciendis, debitis possimus consectetur necessitatibus
              exercitationem natus asperiores eaque quos facilis repellat quasi.
              Id fugiat nisi asperiores aspernatur? Commodi temporibus, libero,
              architecto veritatis harum impedit sequi vel suscipit optio
              corrupti iusto facere perferendis sint obcaecati quaerat incidunt?
              Fugiat fugit neque nihil. Fugit quisquam totam autem repudiandae
              quod et! A ut id rerum error, cupiditate reprehenderit explicabo
              obcaecati optio numquam quis unde quo sapiente ab natus incidunt
              corporis, minima, quod dolores minus esse? Repudiandae architecto
              ab quasi error accusantium. Repellat soluta cupiditate, temporibus
              accusantium, asperiores voluptatem quisquam magni ea nihil
              corporis facere nam fuga ab esse! Commodi accusantium ad
              asperiores, nulla vero odio minima porro quaerat cupiditate,
              eligendi rem? Expedita maxime impedit laudantium nemo voluptate
              dicta, assumenda eos molestias id recusandae minus asperiores,
              inventore consequatur repellendus officiis quam labore qui
              placeat. Sed dolore voluptatem architecto, blanditiis eius atque!
              Voluptas. Ducimus debitis facilis numquam maiores facere
              distinctio tempore quis rerum repellat iure deleniti, dolorum non
              dicta repellendus, voluptate alias sunt commodi quia! Iste vero
              quidem explicabo consectetur voluptatem tenetur perspiciatis. Nisi
              tempore atque id aspernatur quia aperiam, repudiandae cumque
              corrupti quasi repellat deleniti harum libero officiis sapiente
              dolorum, nostrum in est iusto magnam nulla sunt. Odio repellendus
              molestias quam earum. Assumenda dignissimos facere maiores itaque!
              Alias blanditiis odit voluptate quia! Corrupti placeat non neque
              labore, architecto nemo error fugit minima, accusamus nesciunt
              explicabo. Quae expedita officiis consequuntur. Voluptas, dolores
              culpa. Aspernatur placeat accusantium vel ab. Illo error magni
              eaque mollitia blanditiis, ipsum perspiciatis labore! Consequatur
              magnam maiores mollitia sequi dicta obcaecati tenetur. Ea quisquam
              dolore et tenetur vel, sed officiis. Sunt, aperiam ratione
              expedita tempore, ipsa beatae nisi consectetur eligendi architecto
              libero et distinctio tenetur ipsum ut praesentium suscipit quasi
              assumenda a vero nihil magni rem cupiditate enim? Ullam, dicta!
              Necessitatibus in id eligendi aliquam alias officia perspiciatis a
              commodi animi. Alias vel voluptatum magni provident!
              Necessitatibus illo consequuntur nostrum sapiente reiciendis
              deserunt odio et asperiores beatae. In, nobis iste. Alias mollitia
              necessitatibus quo consequuntur ea obcaecati iusto nam repudiandae
              inventore maxime! Ipsam unde labore nobis, eius dignissimos cumque
              dicta aliquam ullam in officia maiores perferendis repudiandae ad
              id quae! Distinctio, natus pariatur doloribus fugiat corrupti hic
              repellat delectus corporis consequuntur iste neque expedita
              reiciendis, vero, facere rerum alias quas tenetur non vitae. Quam
              sit ad quos impedit aliquid consequuntur. Distinctio deserunt
              incidunt dolore ex, officiis accusantium quisquam architecto
              repellat qui veritatis nemo itaque, id dignissimos error
              voluptatum quas eaque placeat quam debitis fuga quae repellendus
              iure perspiciatis tenetur! Accusamus. Officia necessitatibus ut
              cumque nulla quam accusantium quos cum, ex, culpa laborum eius
              doloribus? Laudantium fugiat maxime sed assumenda corrupti
              voluptas earum, porro autem laborum aperiam amet soluta culpa
              alias? Est tempora pariatur officia repellendus ipsa ea nemo
              voluptas recusandae quos eveniet odio neque, aliquam, voluptates
              incidunt sapiente sed impedit in. Eius et reprehenderit quaerat
              inventore perspiciatis possimus nemo illum? Nobis non amet
              similique ipsa dicta adipisci recusandae, molestias modi nesciunt
              est in! Similique in laudantium error molestiae nam accusamus,
              dignissimos dolores, corrupti nesciunt blanditiis distinctio
              aliquam. Adipisci, molestiae laudantium. Non, eaque. Ipsam, vel
              laudantium soluta saepe quas sequi consequatur assumenda
              quibusdam, omnis sed veritatis. Velit fugit quia temporibus
              voluptatibus illo necessitatibus at quae accusantium odio aperiam,
              non id neque. Aperiam nesciunt ad excepturi obcaecati eligendi
              corrupti, blanditiis dolorem, cumque incidunt dignissimos nam,
              eius repudiandae. Est dolore ullam doloremque at, ducimus earum,
              assumenda ut amet voluptatem repudiandae iusto? Quibusdam,
              blanditiis? Aperiam autem inventore maxime modi quisquam at dicta
              quam ducimus accusamus ad praesentium, necessitatibus architecto
              sapiente deserunt ipsam! Commodi saepe illo deserunt suscipit! A
              sapiente id, cum temporibus itaque voluptate? Adipisci sit
              reprehenderit laborum sunt repellendus eum numquam. Accusantium
              odio assumenda laborum corporis, repellendus quod? Minima sapiente
              quidem et recusandae iste, ab odit. Rerum, quod aperiam autem ab
              laborum illum. Exercitationem, tempore? Velit voluptates non illum
              optio ea itaque, officiis ratione. Molestias accusantium inventore
              fugiat culpa? Unde sit laborum dolorum saepe natus placeat
              perspiciatis et, eveniet error cumque recusandae quidem. Possimus
              quas labore ea molestiae voluptas, nesciunt accusantium velit
              excepturi voluptates provident earum sit magni reprehenderit
              dignissimos harum sed, veniam enim et mollitia laudantium? Veniam
              aliquam cum vitae labore ut! Hic adipisci quisquam sit aliquid
              sequi, odit culpa repellendus nostrum optio accusantium ipsa
              corporis saepe veritatis quo nesciunt doloremque odio quae eum
              reiciendis quaerat deserunt fugit dolorem repellat aut! Maxime!
              Blanditiis tempora officiis perferendis distinctio neque quaerat!
              Natus possimus sunt eligendi? Aperiam mollitia quae, alias magnam
              tenetur vero recusandae magni corrupti fugiat architecto nemo
              dolore ullam dicta exercitationem commodi sapiente! Sed maxime
              impedit aliquid blanditiis nam aspernatur a est exercitationem!
              Perferendis accusantium consequuntur iusto aperiam corrupti harum
              nisi atque ad, omnis non ab architecto laborum unde totam, enim,
              impedit quae? Vel voluptas quisquam id recusandae, magni illo
              maiores sequi saepe amet mollitia voluptatum velit iusto,
              architecto necessitatibus sint inventore praesentium sit quam, hic
              ab laborum reprehenderit! Autem voluptate atque eveniet. Id vitae
              fugiat adipisci, quas voluptate sint quos? Dignissimos
              exercitationem ullam porro voluptatibus eos placeat dicta alias
              doloremque voluptatum! Neque praesentium ullam architecto
              possimus, voluptate quibusdam quis nesciunt. Ducimus, vel!
              Sapiente excepturi commodi cum molestias, et repellendus nulla
              laboriosam iure suscipit accusantium, deserunt necessitatibus.
              Mollitia amet eveniet enim natus nemo iusto dolorum excepturi
              eligendi fugiat. Suscipit id blanditiis incidunt nesciunt!
              Quibusdam autem tempore accusamus aspernatur totam provident
              pariatur a cum accusantium optio, nobis quaerat possimus ipsam
              excepturi dignissimos iste animi at repellat. Voluptate
              consequuntur velit possimus doloribus error ut laudantium! Harum,
              sequi aliquid atque, repudiandae quo, earum ab necessitatibus
              doloribus a ea quas ad soluta fuga magnam. Vel distinctio
              reprehenderit tempore quos doloribus, temporibus, possimus nobis
              illo quod iure vitae.
            </p>
          </div>
        </div>
      </div>
    </main>
    <%- include('components/script') %>
  </body>
</html>
